.container {
    margin: auto;
    width:90%;
    padding-bottom: 5rem;
  }
  
.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.background-Image {
  width: 100%;
  height: 100%;
  z-index: -1;
}